{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-3">
        <div class="alert alert-warning" role="alert">
            <strong>Внимание!</strong> Нажмите на кноку 'Купить' и произойдёт тестовая покупка
        </div>
        <div class="row">
            <div class="col-12">
                <h3 class="mb-4">Покупка <a href="{{ path('view_one_product', {'id':product.product.id}) }}">{{ product.product.title }}</a></h3>
                <b>Кол-во: {{ product.quantity }}</b>
                <br>
                <b>Общая цена: {{ product.pricePerItem * product.quantity }}</b>
                <br>
                <hr>
                <br>
                <h4>Тут должна быть оплата :)</h4>
                <h4>Так как сайт тестовый, то и покупки тут эфемерны</h4>
                <a href="" class="btn btn-success">Купить</a>
            </div>
        </div>
    </div>

{% endblock %}